<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Text Programming Tutorials">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico" >
    <link rel="alternate" type="application/atom+xml" title="ToThePointCoding posts" href="/feed.xml">
  </head>
  <body>
  {% include navigation.html %}
  <div id="postcontent">
    {{ content }}
  </div>

  <script src="/assets/js/mode-switcher.js"></script>

  </body>
</html>
