---
layout: default
---
<head>
  <link rel="stylesheet" href="/assets/css/post.css">
  <link rel="alternate" type="application/atom+xml" title="ToThePointCoding posts" href="/feed.xml">
  <meta name="description" content="{{ page.about }}">
</head>
<h1>{{ page.title }}</h1>

<i>Categories: </i><div>
  {% if post %}
  {% assign categories = post.categories %}
  {% else %}
  {% assign categories = page.categories %}
  {% endif %}
  {% for category in categories %}
  <a href="{{site.baseurl}}/categories#{{category|slugize}}">{{category}}</a>
  {% unless forloop.last %}&nbsp;{% endunless %}
  {% endfor %}
</div>
<b>Description:</b> {{page.about}}
<br/>
<b>Date:</b> {{ page.date | date_to_string }}

{{ content }}
